@model MgSolucoes.Models.Cliente
@{
    ViewBag.Title = "Edita Cliente";
}

<h2>Editar Cliente</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.HiddenFor(m => m.ClienteId)

    <div class="form-group">
        <p class="control-label col-md-2">Cliente</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">CPF</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <p class="control-label col-md-2">Conta de adesão</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nu_conta_ade, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nu_conta_ade, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Telefone Fixo</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Tel_Fixo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tel_Fixo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Telefone Movel</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Tel_Movel, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tel_Movel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Email</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Credito</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Valor_Credito, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Valor_Credito, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <p class="control-label col-md-2">Data de Nascimento</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Dt_nascimento, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Dt_nascimento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Vendedor</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Vendedor, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Vendedor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Grupo_id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Grupo_id,
                               new SelectList(ViewBag.Grupos, "Grupo_id", "Nome"),
                               "Escolha o  grupo", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Grupo_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Cota</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cota_id, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cota_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Representacao_id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Representacao_id,
                               new SelectList(ViewBag.Representacao, "Representacao_id", "Nome"),
                               "Escolha a Representacao", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Representacao_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TipoBemId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.TipoBemId,
                               new SelectList(ViewBag.TipoBem, "TipoBemId", "Nome"),
                               "Tipo do bem", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Grupo_id, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar alterações" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}


