@model PagedList.IPagedList<MgSolucoes.Models.Cliente>
@using PagedList.Mvc;

<link href="~/Content/inicial.css" rel="stylesheet" />
@{
    ViewBag.Title = "Clientes";
}


<br />
<br />
<br />


<div>
    @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
    {


        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <input type="text" id="myInput" name="clienteNome" class="btn btn-default" placeholder="Busca por nome do cliente">
            </div>
            <div class="btn-group" role="group">
                @Html.DropDownList("Representacao_id", new SelectList(ViewBag.ddlRepresentacao, "Representacao_id", "Nome"), new { @class = "btn btn-default dropdown-toggle" })
            </div>
            <div class="btn-group" role="group">
                @Html.DropDownList("Grupo_id", new SelectList(ViewBag.ddlGrupo, "Grupo_id", "Nome"), new { @class = "btn btn-default dropdown-toggle" })
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <input type="text" id="myInput" name="CPF" placeholder="Digite o CPF">
            </div>
            <div class="btn-group" role="group">
                <input type="text" id="myInput" name="CPF" placeholder="Cliente Contatado?">
            </div>
            <div class="btn-group" role="group">
                <input type="text" id="myInput" name="cotaNome" placeholder="Digite a cota">
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <input type="text" id="vencimentoCliente" name="vencimentoCliente" placeholder="Vencimento">
            </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <input type="submit" value="Buscar" />
                <span> </span>
                <input type="button" value="Novo Cliente" onclick="location.href='@Url.Action("Create", "Cliente")'" />
            </div>
        </div>








    }
</div>
        <br />

        <br />

        <table class="table">
            <tr>
                <th></th>
                <th>@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                <th>Grupo/Cota</th>
                <th>Telefone</th>
                <th>Representacoes</th>
                <th>Dias em Atraso</th>
                @*<th>Baixa Parcela</th>*@


            </tr>

            @foreach (var cliente in Model)
            {

                <tr>
                    <td>
                       <i class="material-icons md-36" style="color:@cliente.CorStatusPagamento">@Html.ActionLink("contact_phone", "Create", "Atendimento", new { id = cliente.ClienteId }, new { @style = "color:" + cliente.CorStatusPagamento + "" })</i>
                    </td>
                    <td>
                        @Html.ActionLink(cliente.Nome, "Details", new { id = cliente.ClienteId })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cliente.Grupos.Nome)/@Html.Raw(cliente.Cota_id)
                    </td>
                    <td id="Tel_Fixo">
                        @Html.DisplayFor(modelItem => cliente.Tel_Fixo)
                        <br />
                        @Html.DisplayFor(modelItem => cliente.Tel_Movel)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => cliente.Representacoes.Nome)
                    </td>
                    <td>
                        @cliente.DiasEmAtraso
                    </td>


                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ocorrencia", "Create", "Atendimento", new { id = cliente.ClienteId }, null)</li>
                                <li>@Html.ActionLink("Editar Registro", "Edit", new { id = cliente.ClienteId })</li>
                                <li>@Html.ActionLink("Excluir Cliente", "Delete", new { id = cliente.ClienteId })</li>
                                @if (cliente.pagamentoGerado == 0)
                                {
                                    <i onclick="atualizaPagamento(@cliente.ClienteId)">
                                        <a href="#">Gerar Pagamento</a>
                                    </i>

                                }
                                else
                                {
                                    <li>@Html.ActionLink("Parcelas", "ContasAReceberPorCliente", "Pagamento", new { id = cliente.ClienteId }, null)</li>
                                }

                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Cancelar Cliente", "CancelarCliente", new { id = cliente.ClienteId })</li>

                            </ul>
                        </div>

                    </td>

                </tr>
            }

        </table>
        <br />
        Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

      

        <script>

            function atualizaPagamento(idPayment) {

                $(function () {
                    $.ajax({
                        dataType: "json",
                        type: "GET",
                        url: "/Cliente/GerarParcelasPagamento",
                        data: { clienteId: idPayment },
                        success: function (dados) {
                            if (dados.Sucess) {
                                if (window.confirm("Você será redirecionado a baixa de parcelas.")) {
                                    window.location = '/Pagamento/ContasAReceberPorCliente/' + idPayment;
                                }
                                
                            }
                        }
                    });
                });

            }


        </script>