@model PagedList.IPagedList<MgSolucoes.Models.Cliente>
@using PagedList.Mvc;

<link href="~/Content/inicial.css" rel="stylesheet" />
@{
    ViewBag.Title = "Clientes";
}


<div>
    @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
    {

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Nome/Razao</label>
                <input type="text" class="form-control" id="myInput" name="clienteNome" placeholder="Nome ou razão do cliente">

            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Represetancoes</label>
                @Html.DropDownList("Representacao_id", new SelectList(ViewBag.ddlRepresentacao, "Representacao_id", "Nome"), new { @class = "form-control" })

            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Grupo</label>
                @Html.DropDownList("Grupo_id", new SelectList(ViewBag.ddlGrupo, "Grupo_id", "Nome"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Cota</label>
                <input type="number" class="form-control" id="myInput" name="cotaNome" placeholder="Cota do cliente">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">CPF</label>
                <input type="text" class="form-control" id="myInput" name="CPF" placeholder="CPF cliente">
            </div>
            <div class="form-group col-md-3">
                <label for="Status_Atendimento_id">Status</label>
                <select id="inputState" class="form-control">
                    <option selected>Opções</option>
                    <option value="1">ADIMPLENTES </option>
                    <option value="2">CANCELADO</option>
                    <option value="3">OBJETIVO CONCLUIDO</option>
                    <option value="4">CLIENTE PENDENTE</option>
                    <option value="5">INADIMPLENTES</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Data de vencimento</label>
                <input type="text" class="form-control" id="vencimentoCliente" name="vencimentoCliente" placeholder="Vencimento">
            </div>
        </div>

        <div class="form-row">

            <div class="btn btn-primary btn-icon-split">
                <div class="icon text-white-50" role="group">
                    <span class="icon text-white-50">
                        <input type="submit" value="Buscar" class="btn btn-primary btn-icon-split" />
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span> </span>
                    <input type="button" value="Novo Cliente" onclick="location.href='@Url.Action("Create", "Cliente")'" class="btn btn-primary btn-icon-split" />
                </div>
            </div>

        </div>



    }
</div>
<br />

<br />

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>Grupo/Cota</th>
                            <th>Telefone</th>
                            <th>Representacoes</th>
                            <th>Dias em Atraso</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                <td>
                                        <i class="material-icons md-36" style="color:@cliente.CorStatusPagamento">@Html.ActionLink("contact_phone", "Create", "Atendimento", new { id = cliente.ClienteId }, new { @style = "color:" + cliente.CorStatusPagamento + "" })</i>
                                    </td>
                                
                                <td>@Html.ActionLink(cliente.Nome, "Details", new { id = cliente.ClienteId })</td>
                                <td>@Html.DisplayFor(modelItem => cliente.Grupos.Nome)/@Html.Raw(cliente.Cota_id)</td>
                                <td id="Tel_Fixo">
                                    @Html.DisplayFor(modelItem => cliente.Tel_Fixo)
                                    <br />
                                    @Html.DisplayFor(modelItem => cliente.Tel_Movel)
                                </td>
                                <td>@Html.DisplayFor(modelItem => cliente.Representacoes.Nome)</td>
                                <td>@cliente.DiasEmAtraso</td>

                                <td>
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Opcoes</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("Create", "Atendimento", new { id = cliente.ClienteId })">Ocorrencia</a>
                                                @if (cliente.pagamentoGerado == 1)
                                                {
                                                <a class="dropdown-item" href="@Url.Action("ContasAReceberPorCliente", "Pagamento", new { id = cliente.ClienteId })">Historico de Pagamento</a>
                                                }
                                                <a class="dropdown-item" href="@Url.Action("ListaAtendimentosByClienteId", "Atendimento", new { id = cliente.ClienteId })">Historico de atendimento</a>
                                                <a class="dropdown-item" href="@Url.Action("Edit", "Cliente", new { id = cliente.ClienteId })">Editar Registro</a>
     
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr></tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<tfoot>
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</tfoot>

