@model PagedList.IPagedList<MgSolucoes.Models.Cliente>
@using PagedList.Mvc;

<link href="~/Content/inicial.css" rel="stylesheet" />
@{
    ViewBag.Title = "Clientes";
}


<div>
    @using (Html.BeginForm("Index", "Cliente", FormMethod.Get))
    {

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">Nome/Razao</label>
                <input type="text" class="form-control" id="myInput" name="clienteNome" placeholder="Nome ou razão do cliente">

            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Represetancoes</label>
                @Html.DropDownList("Representacao_id", new SelectList(ViewBag.ddlRepresentacao, "Representacao_id", "Nome"), new { @class = "form-control" })

            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Grupo</label>
                @Html.DropDownList("Grupo_id", new SelectList(ViewBag.ddlGrupo, "Grupo_id", "Nome"), new { @class = "form-control" })
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Cota</label>
                <input type="number" class="form-control" id="myInput" name="cotaNome" placeholder="Cota do cliente">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">CPF</label>
                <input type="email" class="form-control" id="myInput" name="CPF" placeholder="CPF cliente">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail4">Status</label>
                <select id="inputState" class="form-control">
                    <option selected>Opções</option>
                    <option>ADIMPLENTES </option>
                    <option>CANCELADO</option>
                    <option>OBJETIVO CONCLUIDO</option>
                    <option>CLIENTE PENDENTE</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Data de vencimento</label>
                <input type="date" class="form-control" id="vencimentoCliente" name="vencimentoCliente" placeholder="Vencimento">
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Contatado</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Cliente foi contatado?">
            </div>
        </div>

        <div class="form-row">

            <div class="btn btn-primary btn-icon-split">
                <div class="icon text-white-50" role="group">
                    <span class="icon text-white-50">
                        <input type="submit" value="Buscar" class="btn btn-primary btn-icon-split" />
                    </span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <span> </span>
                    <input type="button" value="Novo Cliente" onclick="location.href='@Url.Action("Create", "Cliente")'" class="btn btn-primary btn-icon-split" />
                </div>
            </div>




            @*<a href="#" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-search"></i>
                </span>
                <span class="text">Buscar cliente</span>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#" class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-ellipsis-v"></i>
                </span>
                <span class="text">Cadastrar novo cliente</span>
            </a>*@

        </div>



    }
</div>
<br />

<br />

<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>@Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                            <th>Grupo/Cota</th>
                            <th>Telefone</th>
                            <th>Representacoes</th>
                            <th>Dias em Atraso</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                @*<td>
                                        <i class="material-icons md-36" style="color:@cliente.CorStatusPagamento">@Html.ActionLink("contact_phone", "Create", "Atendimento", new { id = cliente.ClienteId }, new { @style = "color:" + cliente.CorStatusPagamento + "" })</i>
                                    </td>*@
                                <td><a href="#" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-laugh-wink"></i></a></td>
                                <td>@Html.ActionLink(cliente.Nome, "Details", new { id = cliente.ClienteId })</td>
                                <td>@Html.DisplayFor(modelItem => cliente.Grupos.Nome)/@Html.Raw(cliente.Cota_id)</td>
                                <td id="Tel_Fixo">
                                    @Html.DisplayFor(modelItem => cliente.Tel_Fixo)
                                    <br />
                                    @Html.DisplayFor(modelItem => cliente.Tel_Movel)
                                </td>
                                <td>@Html.DisplayFor(modelItem => cliente.Representacoes.Nome)</td>
                                <td>@cliente.DiasEmAtraso</td>

                                <td>
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Opcoes</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="@Url.Action("Create", "Atendimento", new { id = cliente.ClienteId })">Ocorrencia</a>
                                                <a class="dropdown-item" href="@Url.Action("Edit", "Cliente", new { id = cliente.ClienteId })">Editar Registro</a>
                                                <a class="dropdown-item" href="@Url.Action("Delete", "Cliente", new { id = cliente.ClienteId })">Excluir Cliente</a>

                                                @if (cliente.pagamentoGerado == 0)
                                                {
                                                    <a class="dropdown-item" onclick="atualizaPagamento(@cliente.ClienteId)" href="#">Gerar Pagamento</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item" href="@Url.Action("ContasAReceberPorCliente", "Pagamento", new { id = cliente.ClienteId })">Parcelas</a>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr></tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<tfoot>
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</tfoot>

<div>
    <div class="mt-4 mb-2">
        <code>legendas</code>
    </div>
    <a href="#" class="btn btn-primary btn-circle btn-sm">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" class="btn btn-success btn-circle btn-sm">
        <i class="fas fa-check"></i>
    </a>
    <a href="#" class="btn btn-info btn-circle btn-sm">
        <i class="fas fa-info-circle"></i>
    </a>
    <a href="#" class="btn btn-warning btn-circle btn-sm">
        <i class="fas fa-exclamation-triangle"></i>
    </a>
    <a href="#" class="btn btn-danger btn-circle btn-sm">
        <i class="fas fa-trash"></i>
    </a>
</div>
                  </div>

<table class="table">
    <tr></tr>

    @foreach (var cliente in Model)
    {

        <tr></tr>
    }

</table>
<br />

<script>

    function atualizaPagamento(idPayment) {

        $(function () {
            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/Cliente/GerarParcelasPagamento",
                data: { clienteId: idPayment },
                success: function (dados) {
                    if (dados.Sucess) {
                        if (window.confirm("Você será redirecionado a baixa de parcelas.")) {
                            window.location = '/Pagamento/ContasAReceberPorCliente/' + idPayment;
                        }

                    }
                }
            });
        });

    }


</script>