@model IEnumerable<MgSolucoes.Models.Pagamento>
@{
    /**/

    ViewBag.Title = "Pagamento cliente";
}



<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Grupo</th>
        <th>Cota</th>
        <th>Vencimento</th>
        <th>Parcela</th>
        <th>Status</th>

    </tr>

    @foreach (var pagamento in Model)
    {
    <tr>
        <td>@Html.ActionLink(pagamento.Clientes.Nome, "DetalhaPagamentoByClienteId", new { id = pagamento.PagamentoId })</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Grupos.Nome)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Clientes.Cota_id)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Dt_Vencimento)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Parcela_num)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Status_Pagamento)</td>

        <td>

    </tr>

    }
</table>
