@model IEnumerable<MgSolucoes.Models.Pagamento>
@{
    /**/

    ViewBag.Title = "Pagamento cliente";
}





<table class="table">
    <tr>
        <th>Cliente</th>
        <th></th>
        <th>Grupo</th>
        <th>Cota</th>
        <th>Vencimento</th>
        <th>Valor do credito</th>
        <th>Parcela</th>
        <th>Comissão 1%</th>
        <th></th>


    </tr>

    @foreach (var pagamento in Model)
    {
    <tr>
        <td>@Html.ActionLink(pagamento.Clientes.Nome, "DetalhaPagamentoByClienteId", new { id = pagamento.PagamentoId })</td>
        @if (pagamento.Status_Pagamento.Equals("PAGO"))
        {

            <td>
                <i class="material-icons md-36" id="stsPago">

                    <i class="material-icons">
                        done_outline
                    </i>
                    <input hidden="hidden" id="idPayment" value="@pagamento.PagamentoId" />

                </i>
            </td>


        }
        else
        {
            <td>
                <i class="material-icons md-36" id="notPayed" onclick="atualizaPagamento(@pagamento.PagamentoId)">
                    <a href="#">
                        <i class="material-icons">
                            cached
                        </i>

                    </a>
                </i>
            </td>

        }

        <td>@Html.DisplayFor(modelItem => pagamento.Grupos.Nome)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Clientes.Cota_id)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Dt_Vencimento)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Clientes.Valor_Credito)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Parcela_num)</td>
        <td>@Html.DisplayFor(modelItem => pagamento.Status_Pagamento)</td>
        <td><i class="material-icons md-36">@Html.ActionLink("edit", "Edit", new { id = pagamento.PagamentoId })</i></td>

        <td>

    </tr>

    }
</table>
<script>

    function atualizaPagamento(idPayment) {
        
        $(function () {
            $.ajax({
                dataType: "json",
                type: "GET",
                url: "/Pagamento/BaixaPagamento",
                data: { idPagamento: idPayment },
                success: function (dados) {
                    if (dados.Sucess) {
                         location.reload();
                    }
                }
            });
        });

    }

   
</script>

