@model MgSolucoes.Models.Pagamento
@{
    ViewBag.Title = "Edita Pagamento";
}

<h2>Editar Parcela</h2>
<hr />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.HiddenFor(m => m.PagamentoId, new { @class = "form-control" })

    <div class="form-group">
        <p class="control-label col-md-2">Data de pagamento</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Dt_Pagamento, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Dt_Pagamento, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        <p class="control-label col-md-2">Data de vencimento</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Dt_Vencimento, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Dt_Vencimento, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <p class="control-label col-md-2">Valor Pago</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Valor_Pago, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Valor_Pago, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Status do Pagamento</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Status_Pagamento, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Status_Pagamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2">Parcela de numero:</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Parcela_num, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Parcela_num, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
        <p class="control-label col-md-2">Comentario de pagamento:</p>
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Comentario_Pagamento, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar alterações" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>
}



