@model MgSolucoes.Models.RepresentacaoViewModel
@{
    ViewBag.Title = "Adicionar Representacao";
}

<h2>Nova representacao</h2>
<hr />

@using (Html.BeginForm("Create", "Representacao", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Cpf, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Cpf,
                            new { @class = "form-control", @placeholder = "CPF/CNPJ" })
            @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome,
                            new { @class = "form-control", @placeholder = "Nome reprensentacao" })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Funcao, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Funcao,
                            new { @class = "form-control", @placeholder = "COD Representacao" })
            @Html.ValidationMessageFor(m => m.Funcao, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(m => m.Dt_Nascimento, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Dt_Nascimento,
                            new { @class = "form-control", @placeholder = "Data" })
            @Html.ValidationMessageFor(m => m.Dt_Nascimento, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Adicionar Representante" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>

</div>
}