@model IEnumerable<MgSolucoes.Models.Representacao>
@{
    ViewBag.Title = "Index";
}

<h2>Representacoes</h2>
<p>
    @Html.ActionLink("Adicionar representante", "Create")
</p>

<table class="table">
    <tr>
        <th>REPRESENTACAO</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var representacao in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => representacao.Nome)</td>
            <td>@Html.DisplayFor(modelItem => representacao.Dt_nascimento)</td>
            <td>@Html.DisplayFor(modelItem => representacao.Cpf)</td>
            <td>@Html.DisplayFor(modelItem => representacao.Funcao)</td>
            

            <td>
                <div class="dropdown">
                    <button class="dropbtn">Ver+</button>
                    <div class="dropdown-content">
                        @Html.ActionLink("Editar", "Edit", new { id = representacao.Representacao_id })
                        @Html.ActionLink("Detalhes", "Details", new { id = representacao.Representacao_id })
                        @Html.ActionLink("Deletar", "Delete", new { id = representacao.Representacao_id })
                    </div>
                </div>

            </td>

        </tr>

       

    }
</table>




