@model MgSolucoes.Models.Tipo_BemViewModel
@{
    ViewBag.Title = "Create";
}

<h1>Cadastrar novo bem</h1>
<hr />

@using (Html.BeginForm("Create", "Tipo_Bem", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome,
                                   new { @class = "form-control", @placeholder = "Nome do bem" })
                @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Cliente" class="btn btn-success" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
<div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


