@model MgSolucoes.Models.Atendimento

@{
    ViewBag.Title = "Detalhes";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Detalhes do atendimento</h4>
        </div>
        <div class="modal-body">
            <p>@Html.DisplayNameFor(model => model.Clientes) : @Html.DisplayFor(model => model.Clientes.Nome)</p>
            <p>@Html.DisplayNameFor(model => model.Dt_Atendimento) : @Html.DisplayFor(model => model.Dt_Atendimento)</p>
            <p>@Html.DisplayNameFor(model => model.Texto) : @Html.DisplayFor(model => model.Texto)</p>
            <p>@Html.DisplayNameFor(model => model.Texto) : @Html.DisplayFor(model => model.Atendimentos.Nome)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
