@model IEnumerable<MgSolucoes.Models.Atendimento>
@{
    ViewBag.Title = "Index";
}

<h2>Atendimentos Realizados por cliente</h2>


<table class="table">
    <tr>
        <th>Cliente</th>
        <th>Grupo</th>
        <th>Cota</th>
        <th>Status do atendimento</th>
        <th>Status do boleto</th>
    </tr>

    @foreach (var atendimento in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => atendimento.Clientes.Nome)</td>
        <td>@Html.DisplayFor(modelItem => atendimento.Clientes.Grupos.Nome)</td>
        <td>@Html.DisplayFor(modelItem => atendimento.Clientes.Cota_id)</td>
        <td>@Html.DisplayFor(modelItem => atendimento.Atendimentos.Nome)</td>
        <td>@Html.DisplayFor(modelItem => atendimento.Pagamentos.Nome)</td>
        <td>
            <div class="dropdown">
                <button class="dropbtn">Ver+</button>
                <div class="dropdown-content">
                    @*@Html.ActionLink("Editar", "Edit", new { id = atendimento.Clienteid })*@
                    @Html.ActionLink("Detalhes", "DetailsByIdDetail", new { id = atendimento.Clientes.ClienteId })
                    @Html.ActionLink("Deletar", "Delete", new { id = atendimento.Atendimento_id })
                </div>
            </div>

        </td>

    </tr>

    }
</table>


