@{
    ViewBag.Title = "Home Page";
}

<br />

Atendimento
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Atendimento diario:</button>
    </div>
  
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Total de clientes:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Aniversariantes do dia: @ViewBag.Aniversariantes</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Clientes sem numero/E-mail</button>
    </div>
</div>

Situacao de clientes
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Adimplentes:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Inadimplentes:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Cancelados:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Objetivos concluidos:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Pendente:</button>
    </div>
</div>

Pagamentos
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Mes Atual:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Pagos:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Atraso:</button>
    </div>
</div>

Boletos
<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Boletos nao enviados:</button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">Boletos enviados:</button>
    </div>
</div>


@*<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">perm_phone_msg</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Atendimentos</p>
                            <h3 class="title">
                                @ViewBag.AtendimentoRealizados/@ViewBag.TotalAtendimentos
                                <small>Total</small>
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="@Url.Action("AtendimentosRealizados", "Atendimento")">Ver todos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Novos clientes</p>
                            <h3 class="title">@ViewBag.NovosClientes</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">warning</i>
                                <a href="@Url.Action("Index", "Cliente")">Ver todos</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Clientes em atraso</p>
                            <h3 class="title">@ViewBag.ClientesEmAtraso</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">local_offer</i> Ver+
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">cake</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Aniversariantes</p>
                            <h3 class="title">@ViewBag.Aniversariantes</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i><a href="@Url.Action("IsAniversario", "Cliente")">Ver todos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>*@




