@using Microsoft.AspNet.Identity

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link" href="index.html">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Painel de controle</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Opções
</div>
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministrativo" aria-expanded="true" aria-controls="collapseAdministrativo">
        <i class="fas fa-fw fa-folder"></i>
        <span>Administração</span>
    </a>
    <div id="collapseAdministrativo" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@Url.Action("Create", "Cliente")">Cadastrar novo usuario</a>
            <a class="collapse-item" href="@Url.Action("Index", "Atendimento")">Tela de ocorrencias</a>
            <a class="collapse-item" href="@Url.Action("Index", "Pagamento")">Baixa de pagamento</a>
            <a class="collapse-item" href="@Url.Action("Index", "Relatorios")">Tela de relatorios</a>
        </div>
    </div>
</li>

<!-- Nav Item - Cadastro grupos e representaçãoes -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCadastros" aria-expanded="true" aria-controls="collapseCadastros">
        <i class="fas fa-fw fa-folder"></i>
        <span>Cadastros</span>
    </a>
    <div id="collapseCadastros" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="@Url.Action("Index", "Grupos")">Grupos</a>
            <a class="collapse-item" href="@Url.Action("Index", "Representacao")">Representacao</a>
            
        </div>
    </div>
</li>
<!-- Nav Item - Charts -->
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Dashboard</span>
    </a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
    <a class="nav-link" href="@Url.Action("Index", "Cliente")">
        <i class="fas fa-fw fa-table"></i>
        <span>Clientes</span>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

